@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Poppins:300,400,500,700");

body {
  background-color: rgb(250, 250, 250);
  font-family: 'Work Sans', sans-serif;
  color: rgb(120, 120, 120);
  line-height: 30px;
  font-weight: 50;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 40px;
  letter-spacing: 4px;
  color: rgb(255, 153, 102);
  line-height: 75px;
  font-weight: bold;
}

h2 {
  font-size: 25px;
  letter-spacing: 4px;
  color: orange;
  line-height: 75px;
  font-weight: bold;
}

h3 {
  font-size: 25px;
  letter-spacing: 4px;
  color: rgb(120, 120, 120);
}

a {
  color: rgb(255, 204, 102);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: rgb(255, 153, 102);
}

img {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0px;
  right: 0;
  margin: auto;
  box-shadow: 5px 5px 2px 1px rgb(200, 200, 200);
}

div {
  background: white;                         /* White background */
  padding: 5px;                             /* Internal space */
  border-radius: 4px;                        /* Small radius */
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
}

li {
  font-size: 45px;
}

#discover {
  color: green;
}

.container {
  width: 600px;   /* This sets the width */
  margin: 0 auto; /* This automatically sets left/right margins */
}

.card-white {
    background-color: white;
    padding: 5px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
    border-radius: 4px;
    margin: 20px 0px;
    border-style: groove;
    border-width: 1px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.img-circle {
  border-radius: 50%;
}

.text-center {
  text-align: center;
}
.card-white {
  background: white;
  padding: 30px;
  border: 1px lightgrey;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
